.modalFile-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: 55px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 5px;
}
.modalFile-item_item{
    display: flex;
    align-items: center;
    gap: 30px;
}
.modalFile-item_item2{
    display: flex;
    gap: 10px;
}
.modalFile-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modalFile-item>p{
    padding-right: 20px;
}

@media (max-width: 670px) {
    .modalFile-item{
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }    
}