.folderRename{
	background: none;
	border: none;
	border-radius: 0;
	height: fit-content;
	width: fit-content;
	text-indent: 0;
	outline: none;
	color: white;
}
@media (max-width: 485px) {
	input.folderRename{
		width: 150px ;
		font-size: 16px;
	}	
}