#file-upload{
    display: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
}
header>p{
    cursor: pointer;
}
.avatar{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-image: url(../../../../public/i.webp);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.header_item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.header_item2 p{
    cursor: pointer;
}
.header_item2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.download{
    cursor: pointer;
}