.modal-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #BEBEBE;
    width: 600px;
    height: 615px;
    z-index: 1000;
    border-radius: 15px;
}
.modal-profile .avatar{
    width: 120px;
    height: 120px;
}
.modal-profile .download{
    font-size: 16px;
}
.modal-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}
.modal-item > .avatar, .modal-item > .subtitle{
    cursor: default;
    text-align: center;
}
#photo-upload{
    display: none;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}
.modal-form input[type="text"], .modal-form input[type="email"], .modal-form input[type="password"], .modal-form [type="submit"]{
    width: 450px;
    background-color: #a2a2a2;
    padding: 0;
}
.pLink{
    text-decoration: underline;
}
@media (max-width: 1000px) {
    .modal-profile{
        height: 550px;
    }
}
@media (max-width: 720px) {
    .modal-profile{
        width: 550px;
    }
}
@media (max-width: 600px) {
    .modal-profile{
        width: 450px;
    }
    .modal-form input[type="text"], .modal-form input[type="email"], .modal-form input[type="password"], .modal-form input[type="submit"]{
        width: 300px;
    }
}
@media (max-width: 480px){
    .modal-profile{
        width: 350px;
    }
    .modal-form input[type="text"], .modal-form input[type="email"], .modal-form input[type="password"], .modal-form input[type="submit"]{
        width: 200px;
    }
}
@media (max-width: 380px){
    .modal-profile{
        width: 250px;
    }
}