.wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 146px;
    height: 456px;
    width: 451px;
    background-color: #DFDFDF;
    border-radius: 20px;
}
.inps{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}