@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter&display=swap');

a{
    text-decoration: none;
    color: black;
}
html,body{
    height: 100%;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}
h1{
    font-family: 'Caveat', sans-serif;
    font-size: 96px;
    user-select: none;
}
svg, path{
    user-select: none;
}
input[type="email"],[type="password"],[type="text"], [type="submit"]{
    width: 407px;
    height: 70px;
    background-color: #B4B4B4;
    border-radius: 15px;
    border: 2px solid #ffffff00;
    font-size: 24px;
}
input[type="email"],[type="password"],[type="text"]{
    text-indent: 30px;
}
input[type="submit"]{
    cursor: pointer;
}
svg{
    cursor: pointer;
}
.file-item:hover{
    background: rgba(0, 0, 0, 0.10);
}
.error{
    border: 2px solid red;
}
.pLink{
    cursor: pointer;
}
@media (max-width: 470px){
	h1{
        font-size: 60px;
    }
}
@media (max-width: 400px){
	html, body{
        font-size: 16px;
    }
    svg, .label{
        width: 20px;
        height: 20px;
    }
}